<div class="row c-row related-manga">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="c-blog__heading style-2 font-heading"><h4><i
                        class="icon ion-ios-star"></i>
                CÓ THỂ BẠN CŨNG THÍCH
            </h4></div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="related-reading-wrap">
            <div class="related-reading-img widget-thumbnail c-image-hover">
                <a href="/truyen-tranh/ghet-anh-thich-anh.7" class=""
                   title="Ghét Anh Thích Anh"><img width="75" height="106"
                                                   src="https://img3.fanboylove.com/stories/avatar/1626017071725_68d43e42-d45b-42a0-b6d6-bbc9e9f8e563.jpg"
                                                   alt="Ghét Anh Thích Anh"
                                                   class="img-responsive effect-fade lazyloaded"></a>
            </div>
            <div class="related-reading-content"><h5 class="widget-title"><a
                            href="/truyen-tranh/ghet-anh-thich-anh.7"
                            class="" title="Ghét Anh Thích Anh">
                        Ghét Anh Thích Anh
                    </a></h5></div>
            <div class="post-on font-meta"><span>
          11/07/2021
        </span></div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="related-reading-wrap">
            <div class="related-reading-img widget-thumbnail c-image-hover">
                <a href="/truyen-tranh/tinh-chang-30.14" class=""
                   title="Tình Chàng 30"><img width="75" height="106"
                                              src="https://img3.fanboylove.com/stories/avatar/1626021093791_e03b681f-b91c-43af-bff7-77a659cbbb0a.jpg"
                                              alt="Tình Chàng 30"
                                              class="img-responsive effect-fade lazyloaded"></a>
            </div>
            <div class="related-reading-content"><h5 class="widget-title"><a
                            href="/truyen-tranh/tinh-chang-30.14" class=""
                            title="Tình Chàng 30">
                        Tình Chàng 30
                    </a></h5></div>
            <div class="post-on font-meta"><span>
          19/07/2021
        </span></div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="related-reading-wrap">
            <div class="related-reading-img widget-thumbnail c-image-hover">
                <a href="/truyen-tranh/buoc-den-ben-anh.51" class=""
                   title="Bước Đến Bên Anh"><img width="75" height="106"
                                                 src="https://img3.fanboylove.com/stories/avatar/1626052003540_989dd0a9-3260-458d-9b9f-714205c5f05b.jpg"
                                                 alt="Bước Đến Bên Anh"
                                                 class="img-responsive effect-fade lazyloaded"></a>
            </div>
            <div class="related-reading-content"><h5 class="widget-title"><a
                            href="/truyen-tranh/buoc-den-ben-anh.51"
                            class="" title="Bước Đến Bên Anh">
                        Bước Đến Bên Anh
                    </a></h5></div>
            <div class="post-on font-meta"><span>
          12/07/2021
        </span></div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="related-reading-wrap">
            <div class="related-reading-img widget-thumbnail c-image-hover">
                <a href="/truyen-tranh/quy-tac-nuoi-soi.63" class=""
                   title="Quy Tắc Nuôi Sói"><img width="75" height="106"
                                                 src="https://img3.fanboylove.com/stories/avatar/1626056879088_910fe379-f1d1-422a-b14a-f3f7207bf462.jpg"
                                                 alt="Quy Tắc Nuôi Sói"
                                                 class="img-responsive effect-fade lazyloaded"></a>
            </div>
            <div class="related-reading-content"><h5 class="widget-title"><a
                            href="/truyen-tranh/quy-tac-nuoi-soi.63"
                            class="" title="Quy Tắc Nuôi Sói">
                        Quy Tắc Nuôi Sói
                    </a></h5></div>
            <div class="post-on font-meta"><span>
          12/07/2021
        </span></div>
        </div>
    </div>
</div>